In [9]:
import numpy as np
import pandas as pd
df = pd.DataFrame()
df_1 = pd.DataFrame()
df_2 = pd.DataFrame()
np.random.seed(123)

In [10]:
E1 = [0,0,1,1]
E2 = [0,1,0,1]
saida = [0.0,1.0,1.0,0.0]
tx = 0.0001
erro_inicial = 0.0
B = 10

In [11]:
def manipular_peso_trash_hold(matriz):
  if matriz.shape[0] == 2:
    for i in range(matriz.shape[0]):
      for j in range(matriz.shape[1]):
        matriz[i][j] =  (matriz[i][j]*40) -20 
  else:
    for i in range(matriz.shape[0]):
      matriz[i] = (matriz[i]*40)-20

In [12]:
def passo(matriz):
  matriz_1 =  np.random.rand(2,3)
  matriz_2 = np.random.rand(3)
  peso = np.random.rand(1)
  #print(matriz)
  if matriz.shape[0] == 2:
    matriz_retorno = np.zeros((2,3))
    for i in range(matriz.shape[0]):
      for j in range(matriz.shape[1]):
        matriz_retorno[i][j] = matriz[i][j] + ((matriz_1[i][j]*2)-1)
    return matriz_retorno
  else:
    matriz_retorno = np.zeros((3))
    for i in range(matriz.shape[0]):
      matriz_retorno[i] = matriz[i] + ((matriz_2[i]*2)-1)
    return matriz_retorno

In [13]:
def atualizar_array(matriz_1, matriz_2):
  if matriz_1.shape[0] == 2:
    for i in range(matriz_1.shape[0]):
      for j in range(matriz_1.shape[1]):
        matriz_1[i][j] = matriz_2[i][j] 
  else:
    for i in range(matriz_1.shape[0]):
      matriz_1[i] = matriz_2[i]

In [14]:
w1 = np.random.rand(2,3)
w2 = np.random.rand(3)
manipular_peso_trash_hold(w1)
manipular_peso_trash_hold(w2)
I = np.zeros((3,3))
O = np.zeros((3,3))
for i in range(len(E1)):
  #I1 - copia dos dados de entrada.
  I[0][0] = E1[i]
  I[0][1] = E2[i]
  I[0][2] = 1.0 # Constante.
  #Copia para os Outputs
  O[0][0] = I[0][0]
  O[0][1] = I[0][1]
  O[0][2] = I[0][2]
  #Calculo Para as entradas da segunda camada.
  I[1][0] = O[0][0]*w1[0][0] + O[0][1]*w1[0][1] + O[0][2]*w1[0][2]
  I[1][1] = O[0][0]*w1[1][0] + O[0][1]*w1[1][1] + O[0][2]*w1[1][2]
  I[1][2] = 1.0 # constante.
  #Calculo do Exp para trash_hold.
  O[1][0] = 1.0/(1.0+np.exp(-I[1][0]))
  O[1][1] = 1.0/(1.0+np.exp(-I[1][1]))
  O[1][2] = I[1][2]
  #calculo da ultima entrada
  I[2][0] = O[1][0]*w2[0] + O[1][1]*w2[1] + O[1][2]*w2[2]
  #Calculo da ultima saida
  O[2][0] = 1.0/(1.0+np.exp(-I[2][0]))
  erro_inicial += float(pow((saida[i]-O[2][0]),2))
erro_inicial *= 0.5
peso_comparar_1 = []
peso_comparar_2 = []
peso_comparar_3 = []
for i in range(w1.shape[1]):
  peso_comparar_1.append(w1[0][i])
  peso_comparar_2.append(w1[1][i])
  peso_comparar_3.append(w2[i])
print(erro_inicial)
print(w1)
print(w2)

0.5822982904342071
[[  7.85876742  -8.5544266  -10.92594186]
 [  2.05259076   8.77875879  -3.0757416 ]]
[19.23056794  7.39318954 -0.76272394]

In [15]:
erro = 1.0
n = 0.0
while erro > tx:
  diferenca_erro = 0.0
  erro = 0.0
  saidas = []
  w1_copia = passo(w1)
  w2_copia = passo(w2)
  #print(w1_copia)
  #print(w2_copia)
  #print('----------------')
  I = np.zeros((3,3))
  O = np.zeros((3,3))
  for i in range(len(E1)):
    #I1 - copia dos dados de entrada.
    I[0][0] = E1[i]
    I[0][1] = E2[i]
    I[0][2] = 1.0 # Constante.
    #Copia para os Outputs
    O[0][0] = I[0][0]
    O[0][1] = I[0][1]
    O[0][2] = I[0][2]
    #Calculo Para as entradas da segunda camada.
    I[1][0] = O[0][0]*w1_copia[0][0] + O[0][1]*w1_copia[0][1] + O[0][2]*w1_copia[0][2]
    I[1][1] = O[0][0]*w1_copia[1][0] + O[0][1]*w1_copia[1][1] + O[0][2]*w1_copia[1][2]
    I[1][2] = 1.0 # constante.
    #Calculo do Exp para trash_hold.
    O[1][0] = 1.0/(1.0+np.exp(-I[1][0]))
    O[1][1] = 1.0/(1.0+np.exp(-I[1][1]))
    O[1][2] = I[1][2]
    #calculo da ultima entrada
    I[2][0] = O[1][0]*w2_copia[0] + O[1][1]*w2_copia[1] + O[1][2]*w2_copia[2]
    #Calculo da ultima saida
    O[2][0] = 1.0/(1.0+np.exp(-I[2][0]))
    erro +=  (saida[i]-O[2][0]) * (saida[i]-O[2][0])
    saidas.append(round(O[2][0]))
  n+=1
  erro *= 0.5
  diferenca_erro = erro - erro_inicial
  if diferenca_erro < 0.0:
    print(diferenca_erro)
    atualizar_array(w1, w1_copia)
    atualizar_array(w2, w2_copia)
    erro_inicial = erro
    if erro < tx:
      break

-0.025445154831925665
-0.03723221812143873
-0.025917792988760846
-0.01044696506165338
-0.0102320627894249
-0.07313113914382119
-0.0156695945349955
-0.06209672171290098
-0.00697529305508332
-0.02531811707849202
-0.03023957857656101
-0.001129656447637628
-0.003917908446600171
-0.0012587908049997987
-0.0024929829518637314
-0.0007302601619380567
-0.00015194601437024113
-0.0002995071319957243
-0.00230241286892488
-0.015932015144385192
-0.03189118561439663
-0.06206898511975878
-0.04022064879815257
-0.008730576673992713
-0.0055143346550179245
-0.036615426863977826
-0.012513970714583697
-0.009538025691443373
-0.013481076950302083
-0.00024276554554624775
-0.0016674704156448839
-0.005613939619540281
-0.0014411496851693068
-0.0005338209579130988
-0.0004716651988996354
-0.00021628904904642972
-0.00017423015721992766
-0.00024412951841068124
-6.1030314319857824e-05
-4.876913273396673e-05

In [16]:

print("Epoca: " + str(n))
print("Erro: " + str(erro))
peso1 = []
peso2 = []
peso3 = []
for i in range(w1.shape[1]):
  peso1.append(w1[0][i])
  peso2.append(w1[1][i])
  peso3.append(w2[i])
df_1['W0_inicial'] = peso_comparar_1
df_1['W0_final'] = peso1
df_1['W1_inicial'] = peso_comparar_2
df_1['W1_final'] = peso2
df_1['W2_inicial'] = peso_comparar_3
df_1['W2_final'] = peso3


df_1

Epoca: 358.0
Erro: 8.868189036422628e-05

   W0_inicial  W0_final  W1_inicial   W1_final  W2_inicial   W2_final
0    7.858767  9.553189    2.052591  -6.781371   19.230568  18.314642
1   -8.554427 -9.084089    8.778759  11.031809    7.393190  11.518419
2  -10.925942 -8.820172   -3.075742  -8.109323   -0.762724  -6.582358

In [17]:
df['E1'] = E1
df['E2'] = E2
df['Saidas_esperadas'] = saida
df['Saidas_geradas'] = saidas
df

   E1  E2  Saidas_esperadas  Saidas_geradas
0   0   0               0.0               0
1   0   1               1.0               1
2   1   0               1.0               1
3   1   1               0.0               0

In [18]:
print(saidas)

[0, 1, 1, 0]